<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
    <title>Chat App</title>
</head>
<body >
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="https://th.bing.com/th/id/R.7c36a2be0d9c1d40ecdbbe01a60c1d58?rik=HUDAlf0YkIRAlg&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fecM%2fppX%2fecMppXnMi.jpeg&ehk=WMXekbfk%2bcMT5CNutreqqiz0iGLgvu4Q8ZSfDNv2Kdk%3d&risl=&pid=ImgRaw&r=0" width="30" height="30" class="d-inline-block align-top" alt="">
          Chat App
        </a>
      </nav>
   <div class="container my-4 ">
      
    <input id="startchat" type="hidden" data-roomid="<%= id %>"></input>
    <!-- <input type="text" id="username" placeholder="username...">
    <input type="text" id="newmsg" placeholder="message.."> -->
    <!-- <span id="typing">typing....</span> -->
    <!-- <button id="btn">Send</button> -->

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username" id="username" aria-label="Recipient's username" >
        <input type="text" class="form-control" placeholder="message" id="newmsg" aria-label="Recipient's username" >
        <div class="input-group-append">
            <span id="typing">typing....</span>
          <button class="btn btn-outline-secondary" type="button" id="btn">Send</button>
        </div>
      </div>
     <div class="container">
        <ul id="msglist" class="bg-light p-4">
            <% for(let i=0; i < chats.length; i++) { %>
                <li ><%= chats[i].user %> : <%= chats[i].content %></li>
             <% } %>
        </ul>
     </div>
   
</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script>
        var socket = io();

        let startchat = document.getElementById('startchat');

        let receiveTypingId = null;
        let typingId = null;

        let btn = document.getElementById('btn');
        let spanTyping = document.getElementById('typing');
        spanTyping.style.display = 'none';
        let inputMsg = document.getElementById('newmsg');
        let username = document.getElementById('username');
        let msgList = document.getElementById('msglist');

        socket.emit('join_room', {
            roomid: startchat.getAttribute('data-roomid')
        });

        btn.onclick = function exec() {
            socket.emit('msg_send', {
                msg: inputMsg.value,
                username: username.value,
                roomid: startchat.getAttribute('data-roomid')
            });
        }

        socket.on('msg_rcvd', (data) => {
            let limsg = document.createElement('li');
            limsg.innerText = `${data.username}: ${data.msg}`;
            msgList.appendChild(limsg);
        });

        socket.on('someone_typing', (data) => {
            spanTyping.style.display = 'block';
            clearTimeout(receiveTypingId);
            receiveTypingId = setTimeout(() => {
                spanTyping.style.display = 'none';
            }, 1000);
        })

        inputMsg.addEventListener('keypress', function (e) {
            
            socket.emit('typing', {
                roomid: startchat.getAttribute('data-roomid'),
            });
            clearTimeout(typingId);
            typingId = setTimeout(() => {
                spanTyping.style.display = 'none';
            }, 3000);
            
        })

    </script>
</body>
</html>